@model MicroserviceECommerce.MVCUI.Models.CustomerModel_
@{
    ViewBag.Title = "CustomerLogin";
}

<h2>CustomerLogin</h2>

@using (Html.BeginForm("CustomerLogin", "CustomerLogin", FormMethod.Post))
{

    <div class="form-group">
        @Html.TextBoxFor(x => x.CustomerID, new { @class = "form-control", placeholder = "Customer ID" })
    </div>

    <div class="form-group">
        @Html.TextBoxFor(x => x.Password, new { @class = "form-control", placeholder = "Password" })
    </div>
    <button class="btn btn-primary" type="submit"> Login  </button>

}